@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(248, 250, 252);
  font-family: "DM Sans", sans-serif;
}

:root {
  color-scheme: dark;
}

.bgg {
  background: radial-gradient(
      50% 80% at 70% 10%,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #192233;
}

.gradient-text {
  background: linear-gradient(to right, #10b981, #1098b9);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.gradient-b {
  background: linear-gradient(to right, #10b981, #1098b9);
  transition: all 200ms ease;
}

.gradient-b:hover {
  box-shadow: 0 0 12px #10b981;
}

/* #10b981, #1098b9 */


.fu {
  min-height: calc(100vh - 64px);
}


.link-hover {
  transition: all 300ms ease;
}

.temp-b {
  background-color: rgb(226, 232, 240);
}

.cardbg {
  background-color: rgb(234, 241, 250)
}

.card-inner  {
  background-color: rgb(240, 246, 253)
}


.link-hover:hover {
  background: linear-gradient(rgba(220,220,220,0.12 ) 50%, rgba(140,140,140, 0.05) 100%);
}

/* code */

.bs {
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(16, 185, 129, 0.4) 0px 0px 0px 2px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}




