@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(248, 250, 252);
  font-family: "DM Sans", sans-serif;
  background-color: rgb(12,18,28);
  overflow-x: hidden;
}

:root {
  color-scheme: dark;
}

.bgg {
  background: radial-gradient(
      50% 80% at 70% 10%,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #192233;
}

.gradient-text {
  background: linear-gradient(to right, #10b981, #1098b9);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.gradient-b {
  background: linear-gradient(to right, #10b981, #1098b9);
  transition: all 200ms ease;
}

.gradient-b:hover {
  box-shadow: 0 0 12px #10b981;
}

.gradient-static {
  background: linear-gradient(to left, #10b981, #1098b9);
}

/* #10b981, #1098b9 */


.fu {
  min-height: calc(100vh - 64px);
}


.link-hover {
  transition: all 300ms ease;
}

.temp-b {
  background-color: rgb(226, 232, 240);
}

.cardbg {
  background-color: rgb(234, 241, 250)
}

.card-inner  {
  background-color: rgb(240, 246, 253)
}


.link-hover:hover {
  background: linear-gradient(rgba(220,220,220,0.12 ) 50%, rgba(140,140,140, 0.05) 100%);
}

/* code */

.bs {
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(16, 185, 129, 0.4) 0px 0px 0px 2px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}




/*  */



.container {
  background-color: #1e293b; /* greyBlue */
  height: 100%;
  width: 100% ;
  border-radius: 0.5rem;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  overflow-y: auto;
  
}

.content {
  padding: 0 1.5rem;
  
}

.title {
  text-decoration: underline;
  font-size: 1.875rem;
  font-weight: 600;
}

.difficulty-container {
  display: flex;
  padding-top: 1rem;
  align-items: center;
}

.difficulty {
  background-color: #0c121c; /* Adjust as necessary */
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
}


.problem-statement {
  padding-top: 1.5rem;
}

.subtitle {
  font-weight: 600;
  font-size: 1.125rem;
}

.description {
  padding-top: 1rem;
}

.sample-test-cases {
  padding-top: 2rem;
}

.test-case-title {
  font-size: 1.5rem;
}

.example-title {
  padding-top: 1.25rem;
  font-weight: 600;
  font-size: 1.125rem;
}

.example {
  background-color: #0c121c; /* Adjust as necessary */
  width: 100%;
  padding: 0 1rem;
  border-radius: 0.375rem;
  margin-top: 0.75rem;
  padding: 0.25rem 1rem;
}

.code-block {
  display: block;
  padding: 0.25rem 0;
}

.constraints {
  padding-top: 2.5rem;
}

.constraints-title {
  font-size: 1.5rem;
}

.constraints-list {
  padding: 0.25rem 2.5rem;
  list-style-type: disc;
}

.constraint-item {
  padding-top: 0.5rem;
}

/* CODE PAGE ANIMATION */

#blur {
  position: absolute;
  inset: 0;
  z-index: 2;
  backdrop-filter: blur(75px);
}

.code-gradient {
  position: absolute;
  z-index: 1;
  height: 550px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(to right,#1e293b,#3A79cb);
  /* animation: rotate 15s infinite; */
  
}


/* REACT SPLIT */

.gutter {
	/* background-color: rgb(26, 26, 26); */
	background-repeat: no-repeat;
	background-position: 50%;
}
.gutter:hover {
	background-color: #3A79cb;
}

.gutter.gutter-horizontal {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
	cursor: col-resize;
}

.gutter.gutter-vertical {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
	cursor: row-resize;
}


/* PROBLEM DESC SCROLLBAR */

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .custom-scrollbar {
    scrollbar-width: auto;
    scrollbar-color: #0c121c #1e293b;
  }

  /* Chrome, Edge, and Safari */
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #1e293b;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #0c121c;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

.mw {
  max-width: calc(100vw - 344px);
}

.mw1 {
  max-width: calc(100vw - 64px);
}


/* .problem-tabs-scrollbar {
  scrollbar-width: auto;
  scrollbar-color:  #1e293b #0c121c;
} */


.problem-tabs-scrollbar::-webkit-scrollbar {
  width: 12px;
}

/* .problem-tabs-scrollbar::-webkit-scrollbar-track {
  background: #1e293b;
}

.problem-tabs-scrollbar::-webkit-scrollbar-thumb {
  background-color: #0c121c;
  border-radius: 10px;
  border: 3px solid #ffffff;
} */